.pytest_cache/
__pycache__/
*.pyc
.venv/
.uv-cache/
dist/
build/
*.egg-info/
.idea/
.tmp/

apps/isomer-node/node_modules/
apps/isomer-dashboard/node_modules/
packages/webs-did-resolver/dist
packages/webs-did-resolver/node_modules
